@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgb(15 23 42),
    rgb(88 28 135),
    rgb(15 23 42)
  );
  color: rgb(210 40% 98%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
